<div class="container" *ngIf="assignment">
  <h1>Edition de l'assignment {{assignment.nom}}</h1>
  <form ngForm class="form">
    <mat-form-field>
      <input matInput placeholder="Edition du nom" [(ngModel)]="nomAssignment"
             name="assignment-name">
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Edition de la date"
             [(ngModel)]="dateDeRendu" name="date">
      <mat-datepicker-toggle matSuffix [for]="picker">
      </mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field>
      <input matInput [(ngModel)]="auteur" placeholder="Edition de l'auteur" name="auteur" required>
    </mat-form-field>
    <span class="spacer"></span>
    <mat-form-field>
      <mat-label>Matière</mat-label>
      <mat-select matInput [(ngModel)]="matiere" placeholder="Matière" name="matiere" required>
        <mat-option *ngFor="let matiere of matieres" [value]="matiere">
          {{matiere}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="onSaveAssignment()">
      Sauver
    </button>

  </form>
</div>
