.rendu {
  color:'green';
  border: 1px solid green;
  background-color:yellow;
}

.nonRendu {
  color:'red';
  border: 1px solid green;
}

.container {
  display:flex;
  flex-direction: column;
}

.ajouterBtn {
  align-self: flex-end;
}

.example-viewport {
  height: 400px;
  width: 600px;
  border: 1px solid black;
}

.example-item {
  height: 50px;
}

thead {
  color: #337ab7;
}

.title-spacer {
  flex: 1 1 auto;
}

.search-form-field{
    margin-right: 20px;
}

.table-responsive {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-table {
  overflow: auto;
}

.filter-container {
  display: flex;
  flex-direction: column;
  min-width: 200px;
}

.cell{
  display:flex !important;
  justify-content: center!important;

}